<%= render partial: 'profile/menu'  %>

<br>

<h4> Listas de tarefas pública </h4>
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Usuario</th>
          <th>Tipo da lista</th>
          <th>Favoritar</th>
        </tr>
      </thead>
      <tbody>
        <% @public_lists.each do |list| %>
          <tr>
            <td> <%= list.user.email %> </td>
            <% if list.kind == false %>
              <td> Pública </td>
            <% else %>
              <td> Privada </td>
            <% end %>
          <td>
            <button type="button" class="btn btn-danger btn-circle">
              <i class="fa fa-heart"></i>
            </button>
          </td>
        <% end %>
      </tbody>



